body{
    background-color: teal;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 100px, 150px;
    float: left;
}
#images{
    margin: 0;
    text-align: center;
    background-color: black;
    font-size: 25px;
}
#images img{
    max-width: 100%;
    margin: 25px 0;

}
li{
    float: left;
    margin: 35px;
    font-size: 35px;
}
ul{
    
    font-size: 50px;
}
img{
   font-size: 25px; 
    color: snow;
 
}