body{
    background-color: teal;
    color: white;
    font-family: 'Exo', sans-serif;
    margin: 100px, 150px;
  
}
#images{
    margin: 0;
    text-align: center;
    background-color: black;
    font-size: 25px;
}
#images img{
    max-width: 100%;
    margin: 25px 0;

}
li{
    font-family: 'Exo', sans-serif;
    float: left;
    margin: 35px;
    font-size: 35px;
}
ul{
    font-family: 'Exo', sans-serif;
    font-size: 50px;
}
img{
   font-size: 25px; 
    color: snow;
}
a{
    color: crimson;
    text-decoration: none;
    transition: 2s;
}
a:hover{
    color: royalblue;
    font-size: 50px;
}