body{
    background-color: teal;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 100px, 150px;
}
#images{
    margin: 0;
    text-align: center;
    background-color: black;
    font-size: 25px;
}
#images img{
    max-width: 100%;
    margin: 25px 0;

}
img{
   font-size: 25px; 
    color: snow;
}