body{
    float: left;
    background-color: black;
    font-size: 50px;
}
p{
    color: whitesmoke;
}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
    text-decoration: none;
}