body{
margin: 0px;
background-color: black;
}
.Containter1{
    width: 1200px;
    background-color: whitesmoke;
    margin: 100 auto;
}
.side{
    margin-top: 300px;
    float: left;
    width: 400px;
}
.image{
    margin: 200px 0px 200px 400px;
    float: left;
    width: 200px;
    height: 200px;
    
}
.text{
    width: 500px;
    margin: 25px 100px;
}
.chapterhead{
    width: 50px;
    margin: 25px auto;
}
.paragraph{
    font-family: garamond-premier-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin: 15px 25px;
    width: 500px;
}
img{
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.container2{
    width: 1200px;
    background-color: whitesmoke;
    margin: 100px auto;
}
.paragraph2{
    width: 400px;
    margin:  25px 25px 25px 500px;
}
.chapterhead2{
    margin: 25px 0 0 675px;
}
.title2{
    width: 500px;
    margin: 50px 50px;
}